USE [master]
GO
/****** Object:  Database [OkulDB]    Script Date: 21.02.2021 11:59:55 ******/
CREATE DATABASE [OkulDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OkulDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\OkulDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OkulDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\OkulDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OkulDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OkulDB]
GO
/****** Object:  Table [dbo].[TBLDERSLER]    Script Date: 21.02.2021 11:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLDERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKULUPLER]    Script Date: 21.02.2021 11:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKULUPLER](
	[KULUPID] [int] IDENTITY(1,1) NOT NULL,
	[KULUPAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKULUPLER] PRIMARY KEY CLUSTERED 
(
	[KULUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 21.02.2021 11:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[DERSID] [int] NULL,
	[OGRID] [int] NULL,
	[SINAV1] [int] NULL,
	[SINAV2] [int] NULL,
	[SINAV3] [int] NULL,
	[PROJE] [int] NULL,
	[ORTALAMA] [decimal](5, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLAR] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCILER]    Script Date: 21.02.2021 11:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCILER](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRKULUP] [int] NULL,
	[OGRCINSIYET] [varchar](5) NULL,
 CONSTRAINT [PK_TBLOGRENCILER] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRETMENLER]    Script Date: 21.02.2021 11:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRETMENLER](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTBRANS] [int] NULL,
	[OGRTADSOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLOGRETMENLER] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDERSLER] ON 

INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (1, N'MATEMATİK')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (2, N'YAZILIM TASARIMI')
INSERT [dbo].[TBLDERSLER] ([DERSID], [DERSAD]) VALUES (3, N'VERİ TABANI')
SET IDENTITY_INSERT [dbo].[TBLDERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLKULUPLER] ON 

INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD]) VALUES (1, N'BİLİŞİM')
INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD]) VALUES (2, N'SATRANÇ')
INSERT [dbo].[TBLKULUPLER] ([KULUPID], [KULUPAD]) VALUES (3, N'KÜTÜPHANE')
SET IDENTITY_INSERT [dbo].[TBLKULUPLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] ON 

INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (1, 1, 1, 75, 75, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (2, 1, 2, 75, 65, NULL, NULL, NULL, NULL)
INSERT [dbo].[TBLNOTLAR] ([NOTID], [DERSID], [OGRID], [SINAV1], [SINAV2], [SINAV3], [PROJE], [ORTALAMA], [DURUM]) VALUES (3, 1, 3, 85, 35, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBLNOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRENCILER] ON 

INSERT [dbo].[TBLOGRENCILER] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (1, N'ALİ', N'ÇINAR', 1, N'ERKEK')
INSERT [dbo].[TBLOGRENCILER] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (2, N'AHMET', N'YILDIRIM', 2, N'ERKEK')
INSERT [dbo].[TBLOGRENCILER] ([OGRID], [OGRAD], [OGRSOYAD], [OGRKULUP], [OGRCINSIYET]) VALUES (3, N'AYŞE', N'GÜNEŞ', 3, N'KIZ')
SET IDENTITY_INSERT [dbo].[TBLOGRENCILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLOGRETMENLER] ON 

INSERT [dbo].[TBLOGRETMENLER] ([OGRTID], [OGRTBRANS], [OGRTADSOYAD]) VALUES (1, 1, N'ZEYNEP ÖZHAN')
INSERT [dbo].[TBLOGRETMENLER] ([OGRTID], [OGRTBRANS], [OGRTADSOYAD]) VALUES (2, 5, N'VELİ YILMAZ')
SET IDENTITY_INSERT [dbo].[TBLOGRETMENLER] OFF
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER] FOREIGN KEY([DERSID])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLDERSLER]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER] FOREIGN KEY([OGRID])
REFERENCES [dbo].[TBLOGRENCILER] ([OGRID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCILER]
GO
ALTER TABLE [dbo].[TBLOGRENCILER]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER] FOREIGN KEY([OGRKULUP])
REFERENCES [dbo].[TBLKULUPLER] ([KULUPID])
GO
ALTER TABLE [dbo].[TBLOGRENCILER] CHECK CONSTRAINT [FK_TBLOGRENCILER_TBLKULUPLER]
GO
ALTER TABLE [dbo].[TBLOGRETMENLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRETMENLER_TBLDERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBLDERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBLOGRETMENLER] CHECK CONSTRAINT [FK_TBLOGRETMENLER_TBLDERSLER]
GO
USE [master]
GO
